@page "/ApiUserManagement"
@inject NavigationManager NavManager
@inject UserSessionManager Session

<UserNotAuthenticated IsApiUser="true">
    @if (!DoRegister)
    {
        <div class="signIn" @onkeydown="OnLoginKeyDown">
            <LotusForm>
                <FormHeader>Login: API User</FormHeader>
                <FormLabel>Email address</FormLabel>
                <FormInput @bind-Value="LoginEmail" PlaceHolder="Email" InputType="text"></FormInput>
                <FormLabel>Password</FormLabel>
                <FormInput @bind-Value="LoginPassword" PlaceHolder="Password" InputType="password"></FormInput>
                <div class="loginButtons">
                    <LotusButton OnClickCallBack="LoginApiUser" Style="border: 1px solid black; height: 2em; margin-bottom: 0.5em;">Login</LotusButton>
                    <LotusButton OnClickCallBack="ToggleRegister" Class="btn-pink">Register</LotusButton>
                </div>
            </LotusForm>
        </div>
    }
    else
    {
        <div class="signIn">
            <LotusForm>
                <FormHeader>Register: Api User</FormHeader>
                <FormLabel>Email address</FormLabel>
                <FormInput PlaceHolder="Email" InputType="text" @bind-Value="@InputFields["EmailInput"].Value" ValidField="@InputFields["EmailInput"].IsValid"></FormInput>
                <FormLabel>Password</FormLabel>
                <FormInput PlaceHolder="Password" InputType="password" @bind-Value="@InputFields["Password"].Value" ValidField="@InputFields["Password"].IsValid"></FormInput>
                <FormLabel>Repeat Password</FormLabel>
                <FormInput PlaceHolder="Repeat password" InputType="password" @bind-Value="@InputFields["PasswordAgain"].Value" ValidField="@InputFields["PasswordAgain"].IsValid"></FormInput>
                
                <FormHeader Size="FormHeaderSize.Small" Style="margin-top: 1em;">Company Info</FormHeader>
                <FormLabel>Contact Person Firstname</FormLabel>
                <FormInput PlaceHolder="Firstname" InputType="text" @bind-Value="@InputFields["ContactFirstName"].Value" ValidField="@InputFields["ContactFirstName"].IsValid"></FormInput>
                <FormLabel>Contact Person Lastname</FormLabel>
                <FormInput PlaceHolder="Lastname" InputType="text" @bind-Value="@InputFields["ContactLastName"].Value" ValidField="@InputFields["ContactLastName"].IsValid"></FormInput>
                <FormLabel>Company Name</FormLabel>
                <FormInput PlaceHolder="Company name" InputType="text" @bind-Value="@InputFields["CompanyName"].Value" ValidField="@InputFields["CompanyName"].IsValid"></FormInput>
                <FormLabel for="gender">Gender</FormLabel>
			    <FormSelect Options="GenderOptions" @bind-SelectedValue="@InputFields["Gender"].Value"></FormSelect>
			    <FormLabel for="country">Country</FormLabel>
			    <FormSelect Options="CountryOptions" @bind-SelectedValue="@InputFields["Country"].Value"></FormSelect>
                <div class="loginButtons">
                    <LotusButton OnClickCallBack="ToggleRegister" Class="btn-pink" Style="margin-bottom: 0.5em;">Login</LotusButton>
                    <LotusButton OnClickCallBack="TryRegisterApiUser" Style="border: 1px solid black; height: 2em;">Register</LotusButton>
                </div>
            </LotusForm>
        </div>
    }
</UserNotAuthenticated>

<UserAuthenticated IsApiUser="true">
    <div class="apiKeyBox">
        <table class="table table-light">
            <thead>
                <tr>
                    <th scope="col">Alias</th>
                    <th scope="col">Api Key</th>
                    <th scope="col">Creation date</th>
                    <th scope="col">Update date</th>
                    <th scope="col">Active</th>
                </tr>
            </thead>
            <tbody>
                @foreach(ApiKey key in UserApiKeys)
                {
                    <tr>
                        <td scope="row">@key.Alias</td>
                        <td>@key.Key</td>
                        <td>@key.InsertDate.ToString("dd/M/yyyy HH:MM")</td>
                        <td>@key.UpdateDate?.ToString("dd/M/yyyy HH:MM")</td>
                        <td>@(key.RecordStatus == 0 ? "Active" : "Inactive")</td>
                        <td><input type="checkbox" /></td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="newApiKeyBox">
            <div class="alert alert-info">Alias can be maximum 15 characters</div>
            <FormInput MaxValueLength="15" @bind-Value="NewApeKeyAlias" InputType="text" PlaceHolder="Alias" Style="width: 16em;"/>
            <LotusButton OnClickCallBack="GenerateNewApiKey" Style="width: 10em; height: 2em;">Generate key</LotusButton>
        </div>
    </div>
</UserAuthenticated>

<SweetAlert
    Icon="SweetAlertIcon"
    Text="@SweetAlertText"
    @bind-IsHidden="SweetAlertHidden"
></SweetAlert>
