<div class="component-base m-3 @_ComponentClass @_HoverShadow @Class" 
@onmouseover="OnHover"
@onmouseout="OnHoverRemove" 
style="@Style">

	<h2>@Title</h2>
	<div class="img-container">
		<img src="@ImgSrc" />
	</div>
	
	<div class="bottom-box">
		<p>@Description</p>
	
		@if (_HasHyperLink)
		{
		<a href="@Href" class="btn btn-info">Link to it</a>
		}
	</div>
</div>


@code {
	[Parameter] public string? Class { get; set; }
	[Parameter] public string? Style { get; set; }
	[Parameter] public string? Href { get; set; }
	[Parameter, EditorRequired] public string Title { get; set; }
	[Parameter, EditorRequired] public string ImgSrc { get; set; }
	[Parameter] public string? Description { get; set; }
	[Parameter] public PictureCardVariant? Variant { get; set; }
	
	private string _HoverShadow = "b-shadow";
	private bool _HasHyperLink = false;
	private string _ComponentClass = "component-base";

	private void OnHover() => _HoverShadow = "b-shadow-lg-blue";
	private void OnHoverRemove() => _HoverShadow = "b-shadow";

	protected override void OnInitialized()
	{
		_ComponentClass = Variant switch
		{
			PictureCardVariant.Medium => "component-medium",
			PictureCardVariant.Small => "component-small",
			_ => "component-medium"
		};
		_HasHyperLink = !string.IsNullOrWhiteSpace(Href);
	}
}
