@namespace Lotus_Authentication.Components
@using Lotus_Authentication.API.ApiDocumentation

<div class="component-base">
    @if (Method.IsActive)
    {
        <h3>@Method.GetControllerName()</h3>
        <h4>Endpoint Name: @Method.GetNiceName()</h4>
    }
    else
    {
        <h3>@Method.GetControllerName() : <span class="badge bg-danger">Inactive</span></h3>
    }
    <div class="endpoint">
        <span class="col-4 @GetMethodClass(Method.RestMethod)">@Method.RestMethod</span>
        <h4><b><u>@Method.Route</u></b></h4>
    </div>

    <br />
    <h5>Summary:</h5>
    <h5>&emsp;&emsp;&emsp; @Method.Summary</h5>

    <div>
        <h3>Headers</h3>
        <table class="parameters table table-light table-striped table-hover table-bordered border-secondary">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Required</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                @foreach(Parameter param in Method.HeaderParameters)
                {
                    <tr>
                        <td class="col-1">@param.Name</td>
                        <td class="col-1">@(param.Required ? "Required" : "Optional")</td>
                        <td class="col-1">@param.Value</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @if(Method.QueryParameters.Count() > 0)
    {
        <h3>Route parameters</h3>
        <table class="parameters table table-light table-striped table-hover table-bordered border-secondary">
            <thead>
                <tr>
                    <th scope="col">Parameter Name</th>
                    <th scope="col">Required</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                @foreach(Parameter param in Method.QueryParameters)
                {
                    <tr>
                        <td class="col-1">@param.Name</td>
                        <td class="col-1">@(param.Required ? "Required" : "Optional")</td>
                        <td class="col-1">@param.Value</td>
                    </tr>
                }
            </tbody>
        </table>   
    }

    @if(Method.BodyParameters.Count() > 0)
    {
        <h3>Body</h3>
        
        <pre class="b-shadow">
            <code>
                @BodyAsJson
            </code>
        </pre>

        <table class="body-properties table table-light table-striped table-hover table-bordered border-secondary">
            <thead>
                <tr>
                    <th scope="col">JSON Property</th>
                    <th scope="col">Required</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                @foreach(Parameter param in Method.BodyParameters)
                {
                    <tr>
                        <td class="col-2">@param.Name</td>
                        <td class="col-1">@(param.Required ? "Required" : "Optional")</td>
                        <td class="col-9">@param.Value</td>
                    </tr>
                }
            </tbody>
        </table>   
    }

    <h3>Status Codes</h3>
    @foreach(Result result in Method.Results)
    {
        <div class="b-shadow">
            <p class="@GetStatusClass(result.StatusCode)">@result.StatusCode ::: @result.Reason</p>
            
            @if(result.StatusCode >= 200 && result.StatusCode < 300)
            {
                <pre>
                    <code>
                        @SucceedBodyAsJson
                    </code>
                </pre>   
            }
        </div>
    }
    <hr />
</div>

@code {
    [Parameter] public Method Method { get; set; }
}
